asn1crypto==0.24.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
coala-utils==0.5.1
cryptography==2.3
flake8==3.5.0
future==0.16.0
idna==2.7
lxml==4.2.3
mccabe==0.6.1
numpy==1.14.5
oauthlib==2.1.0
pandas==0.23.3
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
PyGithub==1.40
PyJWT==2.4.0
pyOpenSSL==18.0.0
python-dateutil==2.7.3
python-twitter==3.4.2
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
twitter==1.18.0
twitterscraper==0.7.1
urllib3==1.23
